<!-- #!/users, UsersCtrl. The account list, the Add form and the directory import. -->
<div class="users">
  <div class="toolbar">
    <button ng-click="adding = true">Add</button>
    <button ng-click="importing = true">Import</button>
  </div>

  <table class="user-list">
    <tr ng-repeat="user in users">
      <td>{{ user.login }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
    </tr>
  </table>

  <form name="addUser" ng-show="adding" ng-submit="save(draft)">
    <label for="login">Login name</label>
    <input id="login" ng-model="draft.login" required>

    <label for="email">Email address</label>
    <input id="email" type="email" ng-model="draft.email" required>

    <label for="role">Role</label>
    <select id="role" ng-model="draft.role" ng-options="role for role in roles" required></select>

    <div ng-if="FEATURES.accountExpiry">
      <label for="expires">Account expires</label>
      <input id="expires" type="date" ng-model="draft.expires">
      <p class="hint">Optional. From this date the account can no longer sign in to the
        console. Devices the user enrolled stay managed.</p>
    </div>

    <button type="submit" ng-disabled="addUser.$invalid">Save</button>
  </form>

  <div class="import" ng-show="importing">
    <p>Reads accounts from the configured directory. Existing accounts are matched by
      login name.</p>
    <button ng-click="runImport()">Import</button>
  </div>
</div>
